# Project exclude paths
/cmake-build-debug/
/cmake-build-release/
/build/
/.idea
/pygui/__pycache__
/.cache/
*.swp
.cache/
/game/GTAGS
/game/GPATH
/game/GRTAGS
GTAGS
GPATH
GRTAGS
.gdb_history
*.hpp~
*.cpp~
*~
